html,body{
  width:100%;
  height:100%;
}
body{
  position: relative;
}
/*======================================================================================================================
 *  helper classes
 *====================================================================================================================*/
.indicator-visible {
  visibility: visible !important;
}

/*======================================================================================================================
 *  The nav
 *====================================================================================================================*/
header#web_header{
  background: #3b67a7;
}
header#web_header  h1{
  margin: 0 !important;
  padding: 20px 10px;
  color: #f2f2f2;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
nav > ul > li {
  display: inline-block;
}
nav#problem_list_header li {
  border-right: 1px solid #bbb;
  line-height: 30px;
}
nav#problem_list_header li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav#problem_list_header li:last-child {
  border: none;
  float: right;
}

/*======================================================================================================================
 *  Main Content Style
 *====================================================================================================================*/
section#main_content{
  margin-top: 20px;
}
section#main_content legend{
  text-align: center;
}
section#main_content > article {
  margin-bottom: 15px;
}
form.form-horizontal > button{
  float: right;
}
/*---------------------------------------------------question area----------------------------------------------------*/
div.problem-content{
  background: #fff;
  padding: 35px 30px 25px 50px;
  border:2px solid  #c7c7c7;
  position: relative;
}
div.problem-content:hover{
  border: 2px solid #3b67a7;
}
div.answer{
    text-align: center;
    margin: 0 auto;
}
div.answer i{
  color: darkred;
  text-decoration: underline;
}
.blur-answer{
  width:100%;
  height:100%
  display:block;
  z-index:10;
  -webkit-filter:blur(10px);
}
div.answer{
  margin-bottom: 20px;
}
div.explain-indicator{
  width: 100%;
  background: #fcfcfc;
  border-top: 1px solid #cecece;
  padding: 5px 30px 5px 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
div.question-icon{
  width: 71px;
  height: 71px;
  background: url('../img/question-mark.png');
  background-size: 71px 71px;
  left: -36px;
  margin-top: -46px;
  position: absolute;
  top: 50%;
}

/*---------------------------------------------------analysis area----------------------------------------------------*/
aside.analysis{
  margin-top: 20px;
  background: #fff;
  border: 1px solid #efefef;
  padding: 35px 30px 35px 50px;
  position: relative;
}
div.problem-explain p > img{
  display: inline-block;
  width: 200px;
}
div.answer-icon{
  width: 63px;
  height: 63px;
  background: url("../img/answer-arrow.png");
  background-size: 63px 63px;
  left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 50%;
}
div.close-icon{
  cursor:pointer;
  width:30px;
  height:30px;
  background: url("../img/close-icon.png");
  background-size: 30px 30px;
  position:absolute;
  top: 10px;
  right:10px;
}
code.code{
  border: 1px solid #EEE;
  border-radius: 3px;
  background: #fffffc;
  display: inline-block;
  font-family: monospace;
  vertical-align: text-bottom;
  padding: 2px 5px;
  max-width: 100%;
  font-size: .9em;
  line-height: 1.5em;
  width: 100%;
  overflow-x: auto;
}
code.code b {
  color: #7f0055;
}
code.code i {
  color: #c7c7c7;
}
code.code-inline{
  border: 1px solid #EEE;
  border-radius: 3px;
  background: #fffffc;
  display: inline-block;
  font-family: monospace;
  font-size: .8em;
  vertical-align: text-bottom;
  padding: 2px 5px;
  line-height: 1em;
  max-width: 100%;
  color: #122b40;
}
code.code-inline b{
  color: darkred;
}
/*---------------------------------------------------Sequence area----------------------------------------------------*/
div.sequence-solution > div.form-group{
  margin-bottom: 20px;
}
/*======================================================================================================================
 * Footer part
 *====================================================================================================================*/
footer#web_footer {
  width: 100%;
  background: #222;
  padding: 20px 15px;
  text-align: center;
  position:relative;
}
nav#problem_list_footer > ul {
  background: none;
  margin-bottom: 20px;
}
nav#problem_list_footer > ul > li {
  line-height: 30px;
}
nav#problem_list_footer > ul > li > a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.copyright{
  width: 100%;
  margin-top: 20px;
  background: #4D4D4D;
  position: absolute;
  bottom: 0;
  left: 0;
}
.copyright p {
  color: #FFF;
  font-size: 12px;
  margin: .4em 0 0 0;
}
.copyright p a {
  color:#FFF;
}

/*======================================================================================================================
 * Popup styling
 *====================================================================================================================*/
.ui-dialog-osx {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
  border-width: 0 8px 8px 8px;
}
div#admin_login{
  display: none;
}

.ui-dialog {
  border:5px solid #cccccc;
  border-radius: 4px;
  padding: 0px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.ui-dialog-content, .btn-default {
  color: #6e0023;
}
.ui-widget-header {
  background: #3b67a7;
}
.ui-corner-all {
  border-radius: 0;
}
.ui-dialog-title {
  color: #fff;
}
.ui-dialog-buttonpane {
  border-width: 0;
}
div#admin_login > span {
  font-size: 14px;
  font-weight: bold;
  font-family: monospace;
  color: #f2f2f2;
  visibility: hidden;
  background: darkred;
  border: none;
  display: block;
  line-height: 24px;
  width: 100%;
  text-align: center;
}

/*======================================================================================================================
 * toTop icon and cover
 *====================================================================================================================*/
a#toTop{
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 25px;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url('../img/top-arrow.png') no-repeat;
}

div#cover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  display: none;
  z-index: 11;
}

/*======================================================================================================================
 * admin indicator information
 *====================================================================================================================*/
p#add_indicator, p#reset_indicator, p#delete_indicator{
  font-size: 14px;
  font-weight: bold;
  font-family: monospace;
  border: none;
  line-height: 24px;
  width: 100%;
  text-align: center;
}