@media screen and (max-width:768px){
    .footer-middle {
        margin: 3em 0;
    }
    .footer-left {
        padding: 0;
    }
    .footer-middle {
        padding: 0;
    }
    .footer-right {
        padding: 0;
    }
    .footer-right a img {
        width: 20%;
    }
    .footer-left input[type="text"] {
        margin-bottom: 0em;
    }
    .phone {
        margin-top: 0em;
    }
    .phone p {
        margin: 1em 0 0 0;
    }
    .address p {
        margin: 1em 0 0 0;
    }
}

@media screen and (max-width: 640px){
    .footer-middle {
        margin: 0em 0;
    }
}

@media screen and (max-width: 480px){
    .footer-middle {
        margin: 2.5em 0;
    }
    .footer-right a img {
        width: 33%;
    }
    .copyright-left {
        float: none;
        text-align: center;
        margin-bottom: 2em;
    }
    .copyright-right {
        float: none;
        text-align: center;
    }
}

@media screen and (max-width: 320px){
    .footer-left {
        padding: 0;
    }
    .footer-left ul {
        text-align: center;
    }
    .footer-left ul li {
        margin: 0.2em .24em 0;
    }
    .footer {
        padding: 2em 0;
    }
    .footer-left form {
        margin-top: 2em;
    }
    .footer-middle {
        margin: 2.2em 0;
    }
    .footer-left input[type="text"] {
        margin-bottom: .2em;
    }
    .footer-right a img {
        width: 50%;
    }
    .phone {
        margin-top: 1em;
    }
    .phone p {
        margin: 0em 0 0 0;
    }
    .address p {
        margin: .6em 0 0 0;
    }
}